.sidebar {
    width: 82px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(106, 126, 138, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;

    &__cover {
        padding: 2rem;
    }
    &__image {
        padding-right: 0.7rem;
        cursor: pointer;
    }
    
    &__flex {
        margin: 3rem 0;
    }
}
#sidebar {
    &__hide {
        visibility: hidden;
    }
}