.sidebar {
    width: 82px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(106, 126, 138, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;

    &__cover {
        padding: 2rem;
    }
    &__image {
        padding-right: 0.7rem;
        cursor: pointer;
    }
    &__image:hover{
        background: #022B8C;
        border-radius: 6px 0px 0px 6px;
    }
    &__image:active {
        background: #022B8C;
        border-radius: 6px 0px 0px 6px;
    }
    &__flex {
        margin: 2rem 0;
    }
    &__link {
        text-decoration: none;
        font-family: 'BentonSans-Medium';
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

    }
    &__container {
        padding-top: 5rem;
    }
}
#sidebar {
    &__hide {
        visibility: hidden;
    }
}